################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/demo/v16/Server/sqlite3
/TextTranslation/bin/Debug/netcoreapp2.2
/TextTranslation/obj
